
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #7d8e9f, #8791c5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px;

h1 {
  color: white;
  letter-spacing: 2px;
  text-shadow: 0 2px 8px rgba(226, 76, 76, 0.3);
  margin-bottom: 30px;
}


form {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(43, 41, 41, 0.2);
  backdrop-filter: blur(10px);

}


#itemInput {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 12px;
  margin-bottom: 8px;
  background: rgba(255,255,255,0.2);
  color: white;
  outline: none;
  transition: all 0.3s ease;
}

#itemInput::placeholder {
  color: rgba(255,255,255,0.6);
}

#itemInput:focus {
  border-color: #fff;
  background: rgba(255,255,255,0.3);
}


button {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  transition: 0.3s ease;
  font-weight: bold;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(229, 46, 113, 0.5);
}


#errorMessage {
  color: #ff3b3b;
  font-size: 13px;
  display: block;
  margin-top: 5px;
  text-align: left;
}


#daftar {
  list-style: none;
  padding: 0;
  margin-top: 25px;
  width: 320px;
}

#daftar li {
  background: rgba(255, 255, 255, 0.2);
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

#daftar li:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-3px);
}


#daftar li button {
  margin-left: 10px;
  background: #ff4e50;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  transition: background 0.3s ease;
}

#daftar li button:hover {
  backg
